.dropdownToggle {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    text-align: left !important;
    color: black;

    border: 2px solid #000000;
}

.dropdownToggle:hover {
    background-color: transparent !important;
    color: black !important;
}

.dorpdownItem:hover {
        background-color: #C4C4C4 !important;
}